.search-container 
{
    
    max-width: 600px;
    margin: 0 auto;
}

.search-container input {
    margin-top: 2em;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.search-container ul {
    list-style-type: none;
    padding: 0;
}

.search-container li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.search-container li:last-child {
    border-bottom: none;
}

.search-container p {
    color: red;
}
